.header{
   width: 100%;
   padding: 32px 0 23px 0;
   position: fixed;
   top: 0;
   background: #fff;
   transition: box-shadow .3s;
   z-index: 20;
   &_scroll{
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
   }
   &__wrapper{
      align-items: center;
      position: relative;
   }
   &__list{
      display: flex;
   }
   &__logo{
      img{
         width: 100%;
      }
   }
   &__list-item{
      margin-right: 20px;
      white-space: nowrap;
      &:last-child{
         margin-right: 0;
      }
      a{
         font-size: 14px;
         color: $main-color;
         font-weight: 700;
      }
      &_new{
         display: none;
      }
   }
   &__contacts{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
   }
   &__contacts-top{
      display: flex;
      align-items: center;
      span{
         font-weight: 800;
      }
      
   }
   &__contacts-bottom{
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
   }

   &__contacts-social{
      margin-right: 15px;
   }
   &__hamburger{
      width: 45px;
      span{
         display: block;
         background: $second-color;
         border-radius: 1px;
         width: 27px;
         height: 4px;
         margin: 4px 0;
      }
      span:first-child{
         width: 41px;
         margin: 0;
      }
      span:last-child{
         width: 15px;
         margin: 0;
      }
   }
   &__hamburger-wrapper{
      display: none;
   }
   &__btn-small{
      display: none;
      height: 40px;
   }
   &__close-menu-btn{
      display: none;
      margin-left: 15px;
      border: none;
      background-color: transparent;
      margin-top: 30px;
   }
}


@media (max-width: 1199px){
   .header{
      &__list-item{
         margin-right: 15px;
         a{
            font-size: 12px;
         }
      }
      &__contacts-social{
         display: none;
      }
      &__phone{
         font-size: 20px;
      }
   }
}
@media (max-width: 991px){
   .header{
      padding: 20px 0 20px 0;
      &__hamburger-wrapper{
         display: block;
      }
      &__menu{
         z-index: 10;
         position: fixed;
         top: 0;
         right: -100%;
         // right: 0;
         background-color: #fff;
         transition: 0.6s all;
         &_active{
            right: 0;
         }
      }
      &__list{
         height: 100vh;
         flex-direction: column;
         justify-content: center;
      }
      &__list-item{
         a{
            font-size: 16px;
            line-height: 20px;
         }
         text-align: center;
         margin-bottom: 30px;
         &_new{
            display: block;
            font-size: 18px;
            line-height: 22px;
            color: $second-color;
            font-weight: 700;
            &_first{
               margin-top: 60px;
            }
         }
         
      }
      &__contacts{
         display: none;
      }
      &__btn-big{
         display: none;
      }
      &__btn-small{
         display: block;
      }
      &__logo{
         display: flex;
         justify-content: center;
         img{
            width: 150px;
         }
      }
   }
}
@media (max-width: 576px){
   .header{
      &__btn{
         display: flex;
         justify-content: flex-end;
      }
      &__btn-small{
         max-width: 65px;
      }
      &__close-menu-btn{
         display: block;
      }
   }
   
}