.advantages{
   margin-bottom: 150px;
   &__h2{
      margin-bottom: 55px;
   }
   &__row{
      align-items: center;
   }
   &__col{
      overflow: hidden;
      img{
         width: 100%;
      }
   }
   &__btn-row{
      margin-top: 80px;
   }
   &__title{
      margin-bottom: 15px;
   }
   &__list-item{
      position: relative;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 10px;
      padding-left: 17px;
      &::before{
         content: '';
         width: 9px;
         height: 9px;
         background-color: $main-color;
         border-radius: 100%;
         position: absolute;
         top: 4px;
         left: 0;
      }
      &:last-child{
         margin-bottom: 0;
      }

   }
   &__btn{
      margin: 0 auto;
   }
}

@media (max-width: 1199px){
   .advantages{
      margin-bottom: 130px;
   }
}
@media (max-width: 991px){
   .advantages{
      &__title{
         font-size: 18px;
         line-height: 22px;
      }
      &__list-item{
         font-size: 12px;
         line-height: 15px;
      }
      &__row{
         margin-bottom: 30px;
      }
   }
}
@media (max-width: 765px){
   .advantages{
      &__row_reverse > div{//только дочерние
         &:first-child{
            order: 1;
         }
         &:last-child{
            order: 0;
         }
      }
      &__row{
         margin-bottom: 70px;
      }
      &__h2{
         margin-bottom: 30px;
      }
   }
}
@media (max-width: 576px){
   .advantages{
      margin-bottom: 100px;
      &__btn{
         display: flex;
         justify-content: center;
      }
   }
}