.certificates{
   margin-bottom: 150px;
   &__wrapper{
      padding: 50px 110px 50px 0;
      height: 490px;
      background: #F0D577;
      border-radius: 10px;;
      outline: 1px solid #FFFFFF;
      outline-offset: -20px;
      background-image: url('../assets/img/certificates/star.png');
      background-repeat: no-repeat;
      background-position: bottom 20px left 22px;
      display: flex;
      justify-content: flex-end;
   }
   &__item{
      width: 232px;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: #9F9F9F;
      font-weight: 700;
      &:first-child{
         margin-right: 90px;
      }
   }
   &__name{
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      margin: 6px 0 14px 0;
   }
}


@media (max-width: 1199px){
   .certificates{
      margin-bottom: 130px;
      &__wrapper{
         padding: 50px 60px 50px 0;
         background-size: 300px;
      }
      &__item{
         &:first-child{
            margin-right: 50px;
         }
      }
   }
}
@media (max-width: 991px){
   .certificates{
      &__wrapper{
         background-image: none;
         justify-content: space-between;
         padding: 50px 80px 50px 80px;
      }
      &__item{
         &:first-child{
            margin-right: 0;
         }
      }
   }
}
@media (max-width: 765px){
   .certificates{
      &__wrapper{
         background-image: url('../assets/img/certificates/star.png');
         padding-top: 300px;
         height: auto;
         display: block;
         background-position: top 50px center;
         background-size: 185px;
      }
   }
}
@media (max-width: 576px){
   .certificates{
      margin-bottom: 100px;
   }
}
@media (max-width: 440px){
   .certificates{
      &__wrapper{
         padding: 300px 30px 50px 30px;
      }
   }
}