.company{
   margin-bottom: 200px;
   &__wrapper{
      padding: 60px 0 180px 0;
      background: #F4F8FF;
      border-radius: 20px;
      position: relative;
      background-image:  url("../assets/img/section_company/like.png"), url("../assets/img/section_company/cube_big.png"), url("../assets/img/section_company/cube_small.png"), url("../assets/img/section_company/donat.png"), url("../assets/img/section_company/hr.png");  
      background-position: bottom 32px left 0px, bottom -5px right, top -20px left 400px, bottom 140px left 515px, top 40% right -30px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
   }
   &__h2{
      margin-bottom: 20px;
   }
   &__descr{
      span{
         font-weight: 600;
         font-size: inherit;
      }
   }


   &__form{
      background: $second-color;
      border-radius: 20px;
      padding: 55px 64px 45px 64px;
   }
   &__form-title{
      color: #fff;
      text-align: center;
      margin-bottom: 20px;
   }
   &__form-descr{
      font-size: 12px;
      line-height: 15px;
      color: #fff;
      text-align: center;
      margin-bottom: 45px;
   }
   &__text-input{
      color: white;
      margin-bottom: 30px;
   }
   &__form-label{
      margin-top: 25px;
      font-size: 12px;
      line-height: 15px;
      color: #9B8FFF;
      a{
         color: white;
         font-size: inherit;
         line-height: inherit;
         &:hover{
            text-decoration: underline;
         }
      }
   }
}

@media (min-width: 1200px){
   .company{
      &__h2{
         max-width: 260px;
      }
   }
}
@media (max-width: 1199px){
   .company{
      margin-bottom: 130px;
      &__wrapper{
         background-position: bottom 0px left 0px, bottom -5px right, top -20px left 300px, bottom 100px left 515px, top 40% right -45px;
      }
      &__form{
         padding: 40px 45px 35px 45px;
      }
      &__form-title{
         font-size: 18px;
         line-height: 22px;
      }
   }
}
@media (max-width: 991px){
   .company{
      &__wrapper{
         background-position: bottom 0px left 0px, bottom 20px right 30px, top 0px left 50px, bottom 200px left 40px, top 50% right -30px;
         background-size: 300px, 100px, 100px, 40px, 174px;
      }
      &__h2{
         text-align: center;
      }
      &__descr{
         font-size: 14px;
         line-height: 17px;
         text-align: center;
         margin-bottom: 40px;
      }
   }
}