.company{
   margin-bottom: 200px;
   &__wrapper{
      padding: 60px 0 180px 0;
      background: #F4F8FF;
      border-radius: 20px;
      position: relative;
      background-image:  url("../assets/img/section_company/like.png"), url("../assets/img/section_company/cube_big.png"), url("../assets/img/section_company/cube_small.png"), url("../assets/img/section_company/donat.png"), url("../assets/img/section_company/hr.png");  
      background-position: bottom 32px left 0px, bottom -5px right, top -20px left 400px, bottom 140px left 515px, top 40% right -30px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
   }
   &__h2{
      margin-bottom: 20px;
   }
   &__descr{
      span{
         font-weight: 600;
         font-size: inherit;
      }
   }


   &__form{
      background: $second-color;
      border-radius: 20px;
      padding: 55px 64px 45px 64px;
   }
   &__form-title{
      color: #fff;
      text-align: center;
      margin-bottom: 20px;
   }
   &__form-descr{
      font-size: 12px;
      line-height: 15px;
      color: #fff;
      text-align: center;
      margin-bottom: 45px;
   }
   &__text-input{
      color: white;
      margin-bottom: 30px;
   }
   &__checkbox{
      display: none;
   }
   &__checkbox:checked + &__form-label::after{
      opacity: 1;
   }
   &__form-label{
      margin-top: 25px;
      font-size: 12px;
      line-height: 16px;
      color: #9B8FFF;
      position: relative;
      padding-left: 22px;
      cursor: pointer;
      a{
         color: white;
         font-size: inherit;
         line-height: inherit;
         &:hover{
            text-decoration: underline;
         }
      }
      &::before{
         content: '';
         width: 16px;
         height: 16px;
         border-radius: 5px;
         position: absolute;
         top: 0;
         left: 0;
         background-color: white;
      }
      &::after{
         transition: all 0.3s;
         content: '';
         width: 16px;
         height: 16px;
         background-color: #9B8FFF;
         border-radius: 5px;
         position: absolute;
         top: 0;
         left: 0;
         background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_314_355)'%3E%3Cpath d='M9.85356 1.47458C9.65831 1.27931 9.34175 1.27931 9.14645 1.47458L3.15614 7.46495L0.853564 5.16237C0.658311 4.9671 0.341748 4.96712 0.146455 5.16237C-0.0488184 5.35763 -0.0488184 5.67419 0.146455 5.86946L2.80259 8.52556C2.99778 8.72081 3.31458 8.72067 3.5097 8.52556L9.85356 2.18169C10.0488 1.98644 10.0488 1.66985 9.85356 1.47458Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_314_355'%3E%3Crect width='10' height='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
         background-repeat: no-repeat;
         background-position: center;
         opacity: 0;
      }
   }
}

@media (min-width: 1200px){
   .company{
      &__h2{
         max-width: 260px;
      }
   }
}
@media (max-width: 1199px){
   .company{
      margin-bottom: 130px;
      &__wrapper{
         background-position: bottom 0px left 0px, bottom -5px right, top -20px left 300px, bottom 100px left 515px, top 40% right -45px;
      }
      &__form{
         padding: 40px 45px 35px 45px;
      }
      &__form-title{
         font-size: 18px;
         line-height: 22px;
      }
   }
}
@media (max-width: 991px){
   .company{
      &__wrapper{
         background-position: bottom 0px left 0px, bottom 20px right 30px, top 0px left 50px, bottom 200px left 40px, top 50% right -30px;
         background-size: 300px, 100px, 100px, 40px, 174px;
      }
      &__h2{
         text-align: center;
      }
      &__descr{
         font-size: 14px;
         line-height: 17px;
         // text-align: center;
         margin-bottom: 40px;
      }
   }
}
@media (max-width: 765px){
   .company{
      &__wrapper{
         background-position: bottom 0px left 0px, bottom 50px right 30px, top 0px left 10px, bottom 200px left 40px, top 50% right -30px;
         background-size: 300px, 100px, 90px, 0, 0;
      }
   }
}
@media (max-width: 576px){
   .company{
      margin-bottom: 100px;
      &__form{
         padding: 40px 25px 45px 25px;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
      }
      &__wrapper{
         padding: 60px 0 140px 0;
         background-position: bottom 0px left 0px, bottom 50px right 30px, top 0px left 10px, bottom 200px left 40px, top 50% right -30px;
         background-size: 250px, 0, 0, 0, 0;
      }
   }
}