.main-screen{
   padding-top: 60px;
   padding-bottom: 200px;//из-за изображения
   &__img{
      position: absolute;
      top: -110px - 60px;
      right: -110px;
   }
   &__title{
      margin-bottom: 35px;
   }
   &__descr-span{
      font-weight: 700;
   }
   &__subtitle{
      margin-bottom: 115px;
   }
   &__descr{
      font-weight: 600;
      margin-top: 20px;
      font-size: 12px;
      line-height: 16px;
   }
}